{% extends "base.html" %}

{% load i18n %}

{% block title %} - Edit {{profile.user.username}}'s Profile{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!--            Edit Profile Page/container            -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 mt-5 mb-5">
            <div class="row card-body card">

                <!--            Title            -->
                <h1 class="pb-3 text-center">{% trans "Edit Profile" %}</h1>

                <!--            Sign Up Form            -->
                <div class="account-form">
                    <form class="signup" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="btn-display">
                            <button type="submit" class="btn">{% trans "Update details" %} &raquo;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}