{% extends 'base.html' %}

{% load static %}

{% block title %} - {{profile.user.username}}'s Profile{% endblock %}

{% block content %}

<!--            Profile Page/container            -->
<section class="align-items-center home-main-section">
    <div class="container-fluid col-lg-6 pt-2 pb-2">
        <div class="col-lg-12 card mt-5">
            <div class="row row-bottom">

                <!--            Container            -->
                <div class="profile-home-card col-12">
                    <div class="row">
                        <h3 class="mb-md-3 mb-lg-5 mt-3 text-center">{{ profile.user.username }}'s Profile</h3>
                    </div>
                    <div class="user-profile mb-3">
                        <div class="profile-content-details">
                            {% if profile.first_name %}
                            <p><strong>First name:</strong> {{ profile.first_name }}</p>
                            {% endif %}
                            {% if profile.last_name %}
                            <p><strong>Last name:</strong> {{ profile.last_name }}</p>
                            {% endif %}
                            {% if profile.get_car_model_display %}
                            <p><strong>Car:</strong> {{ profile.get_car_model_display }}</p>
                            {% endif %}
                            {% if profile.email_address %}
                            <p><strong>Email:</strong> {{ profile.email_address }}</p>
                            {% endif %}
                            {% if profile.city %}
                            <p><strong>City:</strong> {{ profile.city }}</p>
                            {% endif %}
                            {% if profile.county %}
                            <p><strong>County:</strong> {{ profile.county }}</p>
                            {% endif %}
                            {% if profile.get_country_display %}
                            <p><strong>Country:</strong> {{ profile.get_country_display }} <img src="{{ profile.country.flag }}" alt="{{ profile.get_country_display }}"></p>
                            {% endif %}
                            {% if profile.postcode %}
                            <p><strong>Postcode:</strong> {{ profile.postcode }}</p>
                            {% endif %}
                        </div>
                        <div class="profile-picture" title="Profile picture">

                            <!--            Default Profile Picture incase user does not upload an Profile picture image            -->
                            {% if "defaultProfilePicture" in profile.profile_image.url %}
                            <img src="{% static 'images/default_profile/default_profile.jpg' %}"
                                alt="Default profile picture" width="240" height="240" />

                            <!--            Else if the User does upload a Profile image            -->
                            {% else %}
                            <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.name }}'s profile picture"
                                width="240" height="240" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-2 socials">
                        <p class="mt-2 mb-1">
                        <h4 class="text-center">Socials</h4>
                        </p>
                        <p class="text-center">
                            {% if profile.facebook %}
                            <a href="{{ profile.facebook }}" target="_blank" title="{{ profile.user.username }}'s Facebook"><i
                                    class="fab fa-facebook-f m-2 social-icon"></i></a>
                            {% endif %}
                            {% if profile.twitter %}
                            <a href="{{ profile.twitter }}" target="_blank" title="{{ profile.user.username }}'s Twitter"><i
                                    class="fab fa-x-twitter m-2 social-icon"></i></a>
                            {% endif %}
                            {% if profile.instagram %}
                            <a href="{{ profile.instagram }}" target="_blank" title="{{ profile.user.username }}'s Instagram"><i
                                    class="fab fa-instagram m-2 social-icon"></i></a>
                            {% endif %}
                            {% if profile.youtube %}
                            <a href="{{ profile.youtube }}" target="_blank" title="{{ profile.user.username }}'s Youtube"><i
                                    class="fab fa-youtube m-2 social-icon"></i></a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% if request.user == profile.user %}
            <div class="profile-update">
                <div class="row edit-button">
                    <div class="btn-display text-center" title="Edit Profile">
                        <form class="signup" id="signup_form" method="post"
                            action="{% url 'edit_profile' profile.pk %}">
                            {% csrf_token %}
                            <button id="btn-edit" class="btn btn-edit mt-0">Edit</button>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <h4 class="title-danger text-center">Danger!</h4>
                    </div>
                    <div class="row edit-button" title="Delete Account">
                        <div class="btn-display text-center">
                            <div class="btn-add-post">
                                <a type="button" class="btn" href="{% url 'delete_profile' profile.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}