{% extends 'base.html' %}

{% load static %}

{% block title %}- Profile - {{profile.user.username}}{% endblock %}

{% block content %}
<!--            Profile container            -->
<section class="align-items-center home-main-section">
    <div class="container-fluid col-lg-6 pt-2 pb-2">
        <div class="col-lg-12 card mt-4">
            <div class="row row-bottom">
            <!--            Container            -->
                <div class="profile-home-card col-10">
                    <div class="row">
                        <h3 class="mb-5 mt-3 text-center">{{ profile.user.username }}'s Profile</h3>
                    </div>
                    <div class="profile-content-details">
                        <p><strong>Username:</strong> {{ profile.user }}</p>
                        <p><strong>Name:</strong> {{ profile.name }}</p>
                        <p><strong>Car model:</strong> {{ profile.car_model }}</p>
                        <p><strong>City:</strong> {{ profile.city }}</p>
                        <p><strong>County:</strong> {{ profile.county }}</p>
                        <p><strong>Country:</strong> {{ profile.country }}</p>
                        <p><strong>Postcode:</strong> {{ profile.postcode }}</p>
                    </div>
                </div>
            </div>
            {% if request.user == profile.user %}
            <div class="row mb-5 edit-button">
                <div class="btn-display text-center">
                    <button id="btn-edit" class="btn">Edit</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}