{% extends 'base.html' %}

{% load static %}

{% block title %} - {{profile.user.username}}'s Profile{% endblock %}

{% block content %}

<!--            Profile Page/container            -->
<section class="align-items-center home-main-section">
    <div class="container-fluid col-lg-6 pt-2 pb-2">
        <div class="col-lg-12 card mt-4">
            <div class="row row-bottom">

                <!--            Container            -->
                <div class="profile-home-card col-md-12 col-lg-10">
                    <div class="row">
                        <h3 class="mb-md-3 mb-lg-5 mt-3 text-center">{{ profile.user.username }}'s Profile</h3>
                    </div>
                    <div class="user-profile">
                        <div class="profile-content-details">
                            <p><strong>Username:</strong> {{ profile.user.username }}</p>
                            <p><strong>Name:</strong> {{ profile.first_name }} {{ profile.last_name }}</p>
                            <p><strong>Car model:</strong> {{ profile.car_model }}</p>
                            <p><strong>Email:</strong> {{ profile.user_email }}</p>
                            <p><strong>City:</strong> {{ profile.city }}</p>
                            <p><strong>County:</strong> {{ profile.county }}</p>
                            <p><strong>Country:</strong> {{ profile.country }}</p>
                            <p><strong>Postcode:</strong> {{ profile.postcode }}</p>
                        </div>
                        <div class="profile-picture">

                            <!--            Default Profile Picture incase user does not upload an Profile picture image            -->
                            {% if "defaultProfilePicture" in profile.profile_image.url %}
                            <img src="{% static 'default_profile/default_profile_picture.png' %}" alt="Default profile picture" width="240" height="240"/>
                            
                            <!--            Else if the User does upload a Profile image            -->
                            {% else %}
                            <img src=" {{ profile.profile_image.url }}" alt="{{ profile.user.name }}'s profile picture" width="240" height="240"/>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <p class="m-0 text-center">
                            <a href=" {{ profile.facebook_url }} " target="_blank" title="Facebook"><i
                                    class="fab fa-facebook-square ms-3 social-icon"></i></a>
                            <a href=" {{ profile.twitter_url }} " target="_blank" title="Twitter"><i class="fab fa-x-twitter ms-3 social-icon"></i></a>
                            <a href=" {{ profile.instagram_url }} " target="_blank" title="Instagram"><i
                                    class="fab fa-instagram-square ms-3 social-icon"></i></a>
                            <a href=" {{ profile.youtube_url }} " target="_blank" title="Youtube"><i
                                    class="fab fa-youtube ms-3 social-icon"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            {% if request.user == profile.user %}
            <div class="row edit-button">
                <div class="btn-display text-center">
                    <form class="signup" id="signup_form" method="post" action="{% url 'edit_profile' profile.pk %}">
                        {% csrf_token %}
                        <button id="btn-edit" class="btn">Edit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}