/************* Default Fonts and Colours *************/

:root {
    /* Fonts */
    --title: 'Noto Sans JP', sans-serif;
    --main-font: 'Noto Serif JP', serif;

    /* Colours */
    --background: #2c2b2ce3;
    --nav: #161516f3;
    --red: #b90a0a;
    --black: #000000;
    --white: rgba(255, 255, 255, .55);
    --posts-background: #2c2b2cc9;

    /* Settings */
    --border: 1px solid #000000;
    --boxshadow: 0 0 0 0.25rem rgba(235, 14, 14, 0.26);
}

/************************** Body **************************/

html,
body {
    height: 100%;
}

main {
    margin-top: 70px;
    flex: 1 0 auto;
    background-color: var(--background);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: revert;
}

h1 {
    color: var(--white);
    padding-top: 10px;
}

/************************** Nav Bar **************************/

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-dark {
    background-color: var(--nav);
    font-family: var(--title);
    color: var(--white);
}

.red-r {
    font-family: 'Permanent Marker', cursive;
    color: var(--red);
    font-size: 1.5em;
}

.search-bar-btn {
    background-color: var(--background);
    color: var(--white);
    border: 2px solid var(--black);
    margin-left: 5px;
    border-radius: 10px;
    font-weight: bolder;
}

/************************** Home Page **************************/

.home-main-section {
    background-image: url('https://res.cloudinary.com/dsabkjtsx/image/upload/v1701371209/typerhomepage_rtlote.webp');
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.home-card {
    background-color: var(--posts-background);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
}

.home-page-a {
    color: var(--white);
    font-weight: bolder;
}

.home-page-a:hover {
    color: var(--red);
}

/************************** Alert Messages **************************/

.alert-msg {
    display: flex;
    justify-content: center;
}

.user-profile {
    display: flex;
    justify-content: space-around;
}

.profile-picture {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
    align-items: center;
}

/************************** Forum **************************/

.col-md-12 {
    margin: 10px;
}

.row {
    justify-content: center;
}

.card-body {
    background-color: var(--posts-background);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-img-top {
    border: 1px solid grey;
    border-radius: 20px;
    width: 50%;
}

.post-link {
    color: var(--black);
    text-decoration: none;
}

.post-subtitle {
    font-weight: bolder;
}

.post-link:hover {
    color: var(--white);
}

.card {
    position: static;
    border: 2px solid var(--nav);
    ;
    border-radius: 20px;
    background-color: var(--posts-background);
    color: var(--white);
}

.btn {
    background-color: var(--background);
    color: var(--white);
    border: 2px solid var(--black);
    margin-top: 18px;
    border-radius: 10px;
    font-weight: bolder;
}

.btn:hover {
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--white);
    font-weight: bolder;
}

.btn:focus {
    box-shadow: var(--boxshadow);
}

.created-on {
    display: flex;
    justify-content: space-between;
}

.page-link {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-custom {
    width: auto;
}

/************************** Forum Details **************************/

.comment-card-body {
    background-color: var(--posts-background);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.masthead-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-details {
    display: flex;
    flex-direction: column;
}

.content-details-bottom {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    justify-content: space-between;
}

.col-1-bottom {
    display: flex;
}

.col-1-bottom p {
    margin-right: 10px;
    margin-left: 20px;
}

.g-0 {
    border: 2px solid var(--nav);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 20px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.row-bottom {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.top-container {
    margin-top: 30px;
}

.h3-padding {
    padding-left: 10px;
}

.comments-body {
    border: 1px solid #3f3d3d;
    ;
}

.btn-like {
    color: var(--red);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--red);
    background: transparent;
    border: none;
}

.dropdown-menu.show {
    background: transparent;
    border: transparent;
}

.post-view-image {
    flex-direction: row;
    justify-content: flex-end;
}

.card-details p {
    margin-bottom: 3px;
}

.author-profile {
    text-decoration: none;
    color: var(--white);
}

.author-profile:hover {
    color: var(--red);
}


/************************** Forms **************************/

.a-red {
    color: rgba(235, 14, 14, 0.699);
}

.a-red:hover {
    color: rgba(161, 23, 23, 0.699);
}

.account-form {
    text-align: left;
}

.account-form div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.account-form div input {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border: 2px solid var(--black);
    padding: 0.4rem 1rem;
    background-clip: padding-box;
}

.account-form div input:focus {
    box-shadow: var(--boxshadow);
}

.btn-display {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#div_id_remember {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.form-control:focus {
    border-color: var(--black);
}

#id_body:focus {
    border-color: var(--black);
    box-shadow: 0 0 8px 0.1rem rgba(235, 14, 14, 0.699);
}

.form-check-input:checked {
    border-color: var(--black);
    background-color: rgba(235, 14, 14, 0.699);
}

.form-check-input:focus {
    border-color: var(--black);
}

.form-check .form-check-input {
    margin-left: 10px;
}

.asteriskField {
    display: none;
}

#div_id_message_content textarea {
    height: 200px;
}

.textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

/************************** Contact Form Page **************************/

.row-contact {
    margin-right: 150px;
    margin-left: 150px;
}

.btn-contact {
    margin-top: 0;
}

.contact-form-card {
    background-color: var(--posts-background);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.form-control:focus {
    color: #1b1c1d;
    background-color: #fff;
    border-color: var(--black);
    outline: 0;
    box-shadow: 0 0 8px 0.1rem rgba(235, 14, 14, 0.699);
}

.form-select:focus {
    border-color: var(--black);
    outline: 0;
    box-shadow: 0 0 8px 0.1rem rgba(235, 14, 14, 0.699);
}

.btn-delete {
    background-color: var(--background);
    color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    font-weight: bolder;
}

/************************** Reset Password **************************/

.btn-reset {
    justify-content: center;
    width: auto;
    margin: auto;
    border-color: var(--black);
}

.account-form form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.account-form form p input {
    border-radius: 10px;
    margin-top: 5px;
    border: 2px solid var(--black);
    padding: 0.4rem 1rem;
    background-clip: padding-box;
}

.account-form form p input:focus {
    border-color: var(--black);
    box-shadow: var(--boxshadow);
}

/************************** Profile **************************/

.profile-home-card {
    background-color: var(--posts-background);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid var(--nav);
    justify-content: space-around;
}

.profile-content-details {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
}

.edit-button {
    display: flex;
    margin-bottom: 30px;
}

.socials a {
    font-size: 1.2em;
    color: var(--black);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.socials a:hover {
    color: var(--white);
}

/************************** Footer **************************/

footer {
    flex-shrink: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    color: var(--black);
    font-weight: bolder;
    font-family: var(--main-title);
    font-size: 1.2em;
}

footer a {
    color: var(--black);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.social-icon {
    height: 1rem;
}

footer a:hover {
    color: var(--white);
}


/************************** Media queries **************************/

/* for medium screens sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {

    .card-img-top {
        width: 75%;
    }

    .footer {
        font-size: 1.1em;
    }
}

/* for small screens sizes from 768px wide and down */

@media screen and (max-width: 768px) {

    .image-container {
        padding-left: 0;
        padding-right: 0;
    }

    .card-img-top {
        width: 100%;
    }

    .footer {
        font-size: 1em;
    }

    .home-card {
        height: auto;
        margin-top: 50px;
    }

    .row-index {
        margin-right: -22px;
        margin-left: -22px;
    }

    .profile-home-card {
        margin-top: 0;
        margin-bottom: 0;
    }

    .user-profile {
        flex-direction: column-reverse;
    }

    .profile-picture {
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .edit-button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .account-form div {
        padding: 1px;
    }
}