<!--            Footer/Social Networks            -->

{% with request.resolver_match.url_name as url_name %}

<p class="m-0 text-center">This Website is for Educational Purpose only</p>
<p class="m-0 text-center">Made by Vitor Oliveira</p>
<p class="m-0 text-center">
  <a href="https://github.com/b1ndark" target="_blank" title="Github"
    ><i class="fab fa-github ms-3 social-icon"></i
  ></a>
  <a href="https://twitter.com/" target="_blank" title="Twitter"
    ><i class="fab fa-x-twitter ms-3 social-icon"></i
  ></a>
  <a href="https://www.instagram.com/" target="_blank" title="Instagram"
    ><i class="fab fa-instagram ms-3 social-icon"></i
  ></a>
  <a
    href="https://www.linkedin.com/in/vitor-de-oliveira-50076b268/"
    target="_blank"
    title="Linkedin"
    ><i class="fab fa-linkedin-in ms-3 social-icon"></i
  ></a>
</p>
{% endwith %}
