<!--            Footer/Social Networks            -->

{% with request.resolver_match.url_name as url_name %}

<p class="m-0 text-center">This Website is for Educational Purpose only</p>
<p class="m-0 text-center">Made by Vitor Oliveira</p>
<p class="m-0 text-center">
  <a
    href="https://github.com/b1ndark"
    aria-label="Visit my Github page(opens in a new tab)"
    target="_blank"
    title="Github"
    rel="noopener"
    ><i class="fab fa-github ms-3 social-icon"></i
  ></a>
  <a
    href="https://twitter.com/"
    aria-label="Visit Twitter page(opens in a new tab)"
    target="_blank"
    title="Twitter"
    rel="noopener"
    ><i class="fab fa-x-twitter ms-3 social-icon"></i
  ></a>
  <a
    href="https://www.instagram.com/"
    aria-label="Visit Instagram page(opens in a new tab)"
    target="_blank"
    title="Instagram"
    rel="noopener"
    ><i class="fab fa-instagram ms-3 social-icon"></i
  ></a>
  <a
    href="https://www.linkedin.com/in/vitor-de-oliveira-fnd7/"
    aria-label="Visit my Linkedin page(opens in a new tab)"
    target="_blank"
    title="Linkedin"
    rel="noopener"
    ><i class="fab fa-linkedin-in ms-3 social-icon"></i
  ></a>
</p>
{% endwith %}
