<!--            Navigation Menus            -->
{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><span class="brand">TYPE <span class="red-r">R</span></span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--            If User is Authenticated it will display its Username and, be able to access the profile            -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'profile' %}active{% endif %}"
            aria-current="page"
            href="{% url 'profile' request.user.id %}"
            >Hello, {{ user.username }}</a
          >
        </li>
        {% endif %}

        <!--            Home Page            -->
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'home' %}active{% endif %}"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>

        <!--            If User is Authenticated it will be able to access the forum and Logout button            -->
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'forum' %}active{% endif %}"
            aria-current="page"
            href="{% url 'forum' %}"
            >Forum</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'account_logout' %}active{% endif %}"
            href="{% url 'account_logout' %}"
            >Logout</a
          >
        </li>

        <!--            Else the User will have to Signup or Signin            -->
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'signup' %}active{% endif %}"
            href="{% url 'signup' %}"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'account_login' %}active{% endif %}"
            href="{% url 'account_login' %}"
            >Sign In</a
          >
        </li>
        {% endif %}

        <!--            Contact Page            -->
        <li class="nav-item">
          <a
            class="nav-link {% if url_name == 'contact' %}active{% endif %}"
            aria-current="page"
            href="{% url 'contact' %}"
            >Contact</a
          >
        </li>

        <!--            If is SuperUser            -->
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../../admin/">Admin</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %} {% if url_name == 'forum' %}
      <div class="d-none d-md-block">
        <form
          class="d-flex me-3 mb-2 mb-lg-0"
          action="{% url 'forum' %}"
        >
          <input
            class="form-control"
            name="q"
            type="search"
            placeholder="Search Post"
            aria-label="Search">
          <button class="search-bar-btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
      {% endif %} {% endif %}
      <span class="navbar-text"> The Power Of Dreams </span>
    </div>
  </div>
</nav>
{% endwith %}
