{% extends "base.html" %} {% load i18n %} {% block head_title %}
{% trans "Sign Out" %}{% endblock head_title %} {% block content %}
<!--            Log Out Page            -->
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 mt-5">
      <div class="row card-body card">
        <!--            Title            -->
        <h1>{% trans "Log Out" %}</h1>

        <p>{% trans 'Are you sure you want to log out?' %}</p>

        <!--            Log Out Form            -->
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn btn-submit">{% trans 'Log Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
