{% extends "base.html" %}

<!--            404 ERROR Page            -->
{% block title %} - 404 Error Page{% endblock %}

{% block content %}

<!--            404 ERROR Page Container            -->
    <div class="container text-center mt-5">
        <h1 class="mt-5">404 - Error!</h1>
        <p style="color: var(--white);" class="mt-5">The page that you are looking for seems to be having an issue please go back to <a href="{% url 'home' %" style="color: var(--white); font-weight: bolder;">Home
            Page</a></p>
    </div>
{% endblock %}