{% extends "base.html" %}

<!--            500 Internal Server ERROR Page            -->
{% block title %} - 500 Internal Server Error Page{% endblock %}

{% block content %}

<!--            500 Internal Server ERROR Page Container            -->
<div class="container text-center mt-5">
    <h1 class="mt-5">500 - Internal Server Error!</h1>
    <p style="color: var(--white);" class="mt-5">The server has encountered an unexpected condition that prevented it from fulfilling the request. Please go back to <a class="red-a-link" href="{% url 'home' %}">Home Page</a></p>
</div>
{% endblock %}