{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <div class="row">
        <!--            Post Title            -->
        <h1 class="post-title">{{ post.title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="masthead top-container">
    <div class="container">
        {% if request.user == post.author %}
        <!--            Button to take you to the Edit Post form            -->
        <div class="btn-add-post mb-4">
            <a type="button" class="btn btn-lg" href="{% url 'edit_post' post.slug %}">Edit Post</a>
        </div>
        {% endif %}
        <div class="row g-0 card-body">
            <div class="col-md-6 masthead-text">

                <!--            Post content            -->
                <p class="card-text">{{ post.content | safe }}</p>
                <div class="content-details">
                    <div class="col-1-top">

                        <!--            Post Author and Date that was created on            -->
                        <p class="post-subtitle">
                        {{ post.author }} | {{ post.created_on }}
                        </p>
                    </div>
                    <div class="col-1-bottom">

                    <!--            If user is authenticated, if liked            -->
                    <p>
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}

                            <!--            Number of likes in the Post            -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </p>
                    <p>
                        {% with comments.count as total_comments %}
                        <strong
                            ><i class="far fa-comments"></i>

                            <!--            Total Comments in the Post            -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </p>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">

                <!--            Default Image incase user does not upload an image            -->
                {% if "placeholder" in post.featured_image.url %}
                <img
                src="https://res.cloudinary.com/dsabkjtsx/image/upload/v1697578831/typerfk2_s2nymz.webp"
                width="100%"
                />

                <!--            Else if the User does upload an image            -->
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr />
    </div>
</div>
<div class="container">
    <div class="row row-bottom d-flex flex-column">
        <div class="col-lg-12 card mb-4 mt-3">
            <h3 class="h3-padding">Comments:</h3>
            <div class="card-body comments-body">
                
                <!--            Iterate through each comment in comments            -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px">
                    <p class="font-weight-bold">

                        <!--            Comment name            -->
                        {{ comment.name }}
                        <span class="text-muted font-weight-normal">

                        <!--            Comments date which was created on            -->
                        {{ comment.created_on }}
                        </span>
                        wrote:
                    </p>

                    <!--            Comment body            -->
                    {{ comment.body | linebreaks }}
                </div>

                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    data-bs-auto-close="true" aria-expanded="false">
                    Comment
                </button>
                <ul class="dropdown-menu" style="width: 100%;" aria-labelledby="dropdownMenuButton1">
                    <div class="col-lg-12 card mb-4 mt-3">
                        <div class="card-body">

                            <!--            If user is authenticated can comment the Post            -->
                            {% if user.is_authenticated %}
                            <h3>Comment:</h3>
                            <p>Posted by: {{ user.username }}</p>

                            <!--            Comment form            -->
                            <form method="POST" style="margin-top: 1.3em;">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <div class="btn-display text-center">
                                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!--            Back button to Forum            -->
        <div class="btn-add-post mb-4">
            <a type="button" class="btn btn-lg" href="{% url 'forum' %}">Back</a>
        </div>
    </div>
</div>



{% endblock %}
