{% extends "base.html" %} {% block content %}

{% load static %}

<!--            Index Content goes in this block content so it displays within the base.html            -->
<section class="classes col-lg-6 offset-lg-3 text-center mt-3 mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <div class="row">
                    <h1>Welcome to Type R Forum</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="align-items-center mt-5" style="background-image: url('{% static 'images/typerhomepage.webp' %}'); background-size: cover; background-position: center; height: 1000px;">
    <div class="container">
        <div class="row">
            <div class="home-card col-10 text-center">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
