{% extends 'base.html' %}

{% block content %}

{% load static %}

<!--            Contact Content goes in this block content so it displays within the base.html            -->
<section class="classes col-lg-6 offset-lg-3 text-center mt-3 mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <div class="row">
                    
                    <!--            Title            -->
                    <h1>Contact Type R Forum</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!--            Main Section with background image and a container            -->
<section class="align-items-center mt-5 home-main-section">
    <div class="container">
        <div class="row">

            <!--            Container            -->
            <div class="home-card col-10 text-center">
                <h3 class="mb-5 mt-3">Contact Form</h3>
                <p>

                </p>
                <p>

                </p>
                <p>

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}