{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

<!--            Contact Content goes in this block content so it displays within the base.html            -->

<!--            Main Section with background image and a container            -->
<section class="align-items-center home-main-section">
    <div class="container">
        <div class="row row-contact">

            <!--            Container            -->
            <div class="contact-form-card col-10 text-center ps-3 pe-3">
                <div>
                    <h3 class="mt-2">Contact Form</h3>
                </div>

                <!--            Contact Form            -->
                <div class="account-form">
                    <form class="contact" id="contact_form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="btn-display mb-3">
                            <button type="submit" class="btn btn-contact">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}